body {
    position: relative;
    background-color: #262626;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#levelDisplay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#startButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #111111;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    margin-top: 20px;
}
#instructions {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    color: white;
    background-color: #111111;
    color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #ffffff;
}

p {
    line-height: 1.6;
}
input[type="text"] {
    font-size: 1.5em;
}
